* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Общие классы для обеих версий */
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}