:root {
    --neutral-colors100: rgba(255, 255, 255, 1);
    --display-3-regular-font-family: "Inter", Helvetica;
    --display-3-regular-font-weight: 400;
    --display-3-regular-font-size: 16px;
    --display-3-regular-letter-spacing: 0px;
    --display-3-regular-line-height: 22px;
    --display-3-regular-font-style: normal;
    --display-2-semi-bold-font-family: "Inter", Helvetica;
    --display-2-semi-bold-font-weight: 600;
    --display-2-semi-bold-font-size: 14px;
    --display-2-semi-bold-letter-spacing: 0px;
    --display-2-semi-bold-line-height: 20px;
    --display-2-semi-bold-font-style: normal;
    --neutral-shadow-02: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    --neutral-colors600: rgba(109, 117, 143, 1);
    --neutral-colors300: rgba(241, 243, 247, 1);
    --display-9-extra-bold-font-family: "Inter", Helvetica;
    --display-9-extra-bold-font-weight: 800;
    --display-9-extra-bold-font-size: 48px;
    --display-9-extra-bold-letter-spacing: 0px;
    --display-9-extra-bold-line-height: 48px;
    --display-9-extra-bold-font-style: normal;
    --paragraph-medium-regular-font-family: "Inter", Helvetica;
    --paragraph-medium-regular-font-weight: 400;
    --paragraph-medium-regular-font-size: 16px;
    --paragraph-medium-regular-letter-spacing: 0px;
    --paragraph-medium-regular-line-height: 24px;
    --paragraph-medium-regular-font-style: normal;
    --display-1-uppercase-semi-bold-font-family: "Inter", Helvetica;
    --display-1-uppercase-semi-bold-font-weight: 600;
    --display-1-uppercase-semi-bold-font-size: 12px;
    --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
    --display-1-uppercase-semi-bold-line-height: 18px;
    --display-1-uppercase-semi-bold-font-style: normal;
    --display-2-semi-bold-font-family: "Inter", Helvetica;
    --display-2-semi-bold-font-weight: 600;
    --display-2-semi-bold-font-size: 14px;
    --display-2-semi-bold-letter-spacing: 0px;
    --display-2-semi-bold-line-height: 20px;
    --display-2-semi-bold-font-style: normal;
    --neutral-colors600: rgba(109, 117, 143, 1);
    --neutral-colors300: rgba(241, 243, 247, 1);
    --display-7-extra-bold-font-family: "Inter", Helvetica;
    --display-7-extra-bold-font-weight: 800;
    --display-7-extra-bold-font-size: 30px;
    --display-7-extra-bold-letter-spacing: 0px;
    --display-7-extra-bold-line-height: 36px;
    --display-7-extra-bold-font-style: normal;
    --display-1-uppercase-semi-bold-font-family: "Inter", Helvetica;
    --display-1-uppercase-semi-bold-font-weight: 600;
    --display-1-uppercase-semi-bold-font-size: 12px;
    --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
    --display-1-uppercase-semi-bold-line-height: 18px;
    --display-1-uppercase-semi-bold-font-style: normal;
    --paragraph-medium-regular-font-family: "Inter", Helvetica;
    --paragraph-medium-regular-font-weight: 400;
    --paragraph-medium-regular-font-size: 16px;
    --paragraph-medium-regular-letter-spacing: 0px;
    --paragraph-medium-regular-line-height: 24px;
    --paragraph-medium-regular-font-style: normal;
    --display-2-semi-bold-font-family: "Inter", Helvetica;
    --display-2-semi-bold-font-weight: 600;
    --display-2-semi-bold-font-size: 14px;
    --display-2-semi-bold-letter-spacing: 0px;
    --display-2-semi-bold-line-height: 20px;
    --display-2-semi-bold-font-style: normal;
    --display-8-extra-bold-font-family: "Inter", Helvetica;
    --display-8-extra-bold-font-weight: 800;
    --display-8-extra-bold-font-size: 36px;
    --display-8-extra-bold-letter-spacing: 0px;
    --display-8-extra-bold-line-height: 40px;
    --display-8-extra-bold-font-style: normal;
    --paragraph-large-regular-font-family: "Inter", Helvetica;
    --paragraph-large-regular-font-weight: 400;
    --paragraph-large-regular-font-size: 18px;
    --paragraph-large-regular-letter-spacing: 0px;
    --paragraph-large-regular-line-height: 28px;
    --paragraph-large-regular-font-style: normal;
    --display-3-semi-bold-font-family: "Inter", Helvetica;
    --display-3-semi-bold-font-weight: 600;
    --display-3-semi-bold-font-size: 16px;
    --display-3-semi-bold-letter-spacing: 0px;
    --display-3-semi-bold-line-height: 22px;
    --display-3-semi-bold-font-style: normal;
    --display-1-uppercase-semi-bold-font-family: "Inter", Helvetica;
    --display-1-uppercase-semi-bold-font-weight: 600;
    --display-1-uppercase-semi-bold-font-size: 12px;
    --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
    --display-1-uppercase-semi-bold-line-height: 18px;
    --display-1-uppercase-semi-bold-font-style: normal;
    --neutral-shadow-04: 0px 4px 14px 0px rgba(25, 33, 61, 0.14);
    --neutral-shadow-02: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    --neutral-colors100: rgba(255, 255, 255, 1);
    --neutral-colors300: rgba(241, 243, 247, 1);
    --neutral-colors200: rgba(248, 250, 255, 1);
    --display-8-extra-bold-font-family: "Inter", Helvetica;
    --display-8-extra-bold-font-weight: 800;
    --display-8-extra-bold-font-size: 36px;
    --display-8-extra-bold-letter-spacing: 0px;
    --display-8-extra-bold-line-height: 40px;
    --display-8-extra-bold-font-style: normal;
    --display-1-uppercase-semi-bold-font-family: "Inter", Helvetica;
    --display-1-uppercase-semi-bold-font-weight: 600;
    --display-1-uppercase-semi-bold-font-size: 12px;
    --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
    --display-1-uppercase-semi-bold-line-height: 18px;
    --display-1-uppercase-semi-bold-font-style: normal;
    --paragraph-medium-regular-font-family: "Inter", Helvetica;
    --paragraph-medium-regular-font-weight: 400;
    --paragraph-medium-regular-font-size: 16px;
    --paragraph-medium-regular-letter-spacing: 0px;
    --paragraph-medium-regular-line-height: 24px;
    --paragraph-medium-regular-font-style: normal;
    --display-7-semi-bold-font-family: "Inter", Helvetica;
    --display-7-semi-bold-font-weight: 600;
    --display-7-semi-bold-font-size: 30px;
    --display-7-semi-bold-letter-spacing: 0px;
    --display-7-semi-bold-line-height: 36px;
    --display-7-semi-bold-font-style: normal;
    --display-3-uppercase-regular-font-family: "Inter", Helvetica;
    --display-3-uppercase-regular-font-weight: 400;
    --display-3-uppercase-regular-font-size: 16px;
    --display-3-uppercase-regular-letter-spacing: 0.96px;
    --display-3-uppercase-regular-line-height: 22px;
    --display-3-uppercase-regular-font-style: normal;
    --display-8-extra-bold-line-height: 40px;
    --display-8-extra-bold-font-style: normal;
    --display-1-uppercase-semi-bold-font-family: "Inter", Helvetica;
    --display-1-uppercase-semi-bold-font-weight: 600;
    --display-1-uppercase-semi-bold-font-size: 12px;
    --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
    --display-1-uppercase-semi-bold-line-height: 18px;
    --display-1-uppercase-semi-bold-font-style: normal;
    --paragraph-medium-regular-font-family: "Inter", Helvetica;
    --paragraph-medium-regular-font-weight: 400;
    --paragraph-medium-regular-font-size: 16px;
    --paragraph-medium-regular-letter-spacing: 0px;
    --paragraph-medium-regular-line-height: 24px;
    --paragraph-medium-regular-font-style: normal;
    --display-4-semi-bold-font-family: "Inter", Helvetica;
    --display-4-semi-bold-font-weight: 600;
    --display-4-semi-bold-font-size: 18px;
    --display-4-semi-bold-letter-spacing: 0px;
    --display-4-semi-bold-line-height: 24px;
    --display-4-semi-bold-font-style: normal;
    --display-3-semi-bold-font-family: "Inter", Helvetica;
    --display-3-semi-bold-font-weight: 600;
    --display-3-semi-bold-font-size: 16px;
    --display-3-semi-bold-letter-spacing: 0px;
    --display-3-semi-bold-line-height: 22px;
    --display-3-semi-bold-font-style: normal;
    --paragraph-default-regular-font-family: "Inter", Helvetica;
    --paragraph-default-regular-font-weight: 400;
    --paragraph-default-regular-font-size: 14px;
    --paragraph-default-regular-letter-spacing: 0px;
    --paragraph-default-regular-line-height: 22px;
    --paragraph-default-regular-font-style: normal;

}
